/* 
    Created on : May 27, 2015, 10:44:06 PM
    Author     : ariane
*/

.error{
    color: red;
}

div.ui-datepicker{
 font-size:11px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
      color: black;
}

.ui-datepicker-trigger {
      margin-left: 5px;
      margin-right: 10px;
}

.breadcrumb-text {
    color: white;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 20px;
}

.sgcaps-home {
    border: solid white 2px; 
    border-radius: 5px; 
    background-color: lightblue; 
    padding-top: 10px;
}

.blue-text {
    color: #3366CC;
}

.white-box {
    background-color: white; 
    border-radius: 5px; 
    border: 1px solid white; 
    padding: 5px;
    
    -webkit-box-shadow: 4px -4px 3px 0px rgba(112,108,112,1);
    -moz-box-shadow: 4px -4px 3px 0px rgba(112,108,112,1);
    box-shadow: 4px -4px 3px 0px rgba(112,108,112,1);  
}

.gray-frame {
    border: 2px solid white; 
    border-radius: 5px; 
    background-color: lightgray;
}

.action-bar {
    margin-top: 1em;
}

.action-button {
   float: right; 
   margin-left: 0.2em;
}

.some-height {
    height: 5.4em;
}

#user-type-professional {
    margin-right: 5px;
}

#user-type-organization {
    margin-left: 10px;
    margin-right: 5px;
}

#occupations_select {
    width: 430px;
}

#occupations_text {
    display: none;
}

.not-found {
    font-size: 1em; 
    margin-left: 5px;
}

#not_found {
    margin: 0 0 0 0;
}