/* 
    Created on : May 27, 2015, 10:44:06 PM
    Author     : ariane
*/
.breadcrumb-text {
    color: white;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 20px;
}

.sgcaps-home {
    border: solid white 2px; 
    border-radius: 5px; 
    background-color: lightblue; 
    padding-top: 10px;
}

.blue-text {
    color: #3366CC;
}

.gray-frame {
    border: 2px solid white; 
    border-radius: 5px; 
    background-color: lightgray;
}

.action-bar {
    margin-top: 1em;
}

.action-button {
   float: right; 
   margin-left: 0.2em;
}

#user-type-professional {
    margin-right: 5px;
}

#user-type-organization {
    margin-left: 10px;
    margin-right: 5px;
}