/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2015, 10:44:06 PM
    Author     : ariane
*/

.breadcrumb-text {
    color: white;
}

.left-margin {
    margin-left: 20px;
}

.top-margin {
    margin-top: 20px;
}

.sgcaps-home {
    border: solid white 2px; 
    border-radius: 5px; 
    background-color: lightblue; 
    padding-top: 10px;
}
