<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="sr-only"><?= _('Sucesso') ?>:</span>
    <span class="glyphicon glyphicon-ok"></span><strong> <?= h($message) ?> </strong> 
</div>