<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="sr-only"><?= _('Erro') ?>:</span>
    <span class="glyphicon glyphicon-exclamation-sign"></span> <strong><?= h($message) ?></strong> 
</div>